{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <h3 class="pres_title">Login</h3>
    <div class="pres_description">
    <form method="post" action=".">
        {% csrf_token %}
        <table>
            {% include "snippets/form.html" %}
            <tr>
                <td colspan="2">
                    <input type="submit" value="{% trans 'Log in' %}" />
                    <input type="hidden" name="next" value="{{ next }}" />
                </td>
            </tr>
        </table>
    </form>
    </div>
    <p class="pres_speaker">{% trans "Forgot password" %}? <a href="{% url auth_password_reset %}">{% trans "Reset it" %}</a>!
    {% trans "Not member" %}? <a href="{% url registration_register %}">{% trans "Register" %}</a>!</p>
{% endblock %}
