{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <h3 class="pres_title">Confirm reset password</h3>
    <div class="pres_description">
        {% if validlink %}
            <form method="post" action=".">{% csrf_token %}
                <table>
                    {% include "snippets/form.html" %}
                    <tr>
                        <td colspan="2"><input type="submit" value="{% trans 'Submit' %}" /></td>
                    </tr>
                </table>
            </form>
        {% else %}
            <h3 class="pres_title">{% trans "Password reset failed" %}</h3><br />
        {% endif %}
    </div>
{% endblock %}
