{% extends "base.html" %}
{% block content %}
    <div class="grid_8 content border_radius_all">
        {% for presentation in presentations %}
            <h3 class="pres_title">{{ presentation.title }}</h3>
            <p class="pres_speaker">{{ presentation.speaker }}</p>
            <p class="pres_description">{{ presentation.description }}</p>
        {% empty %}
            <h3>Empty</h3>
            <p>Data not found.</p>
        {% endfor %}
    </div>

    <div class="grid_4 aside">
        {% for event in events %}
        <h3>Events</h3>
        <p>
            <a href="{{ event.get_absolute_url }}">{{ event.name }}</a><br />
            <span class="date_event">{{ event.event_start }}</span>
        </p>
        {% empty %}
            <h3>Empty</h3>
        {% endfor %}
    </div>

{% endblock %}
