/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* =============================================================================
   HTML5 element display
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }

/*
 * Pylestras
 */

.border_radius_all {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.header {
    margin-top: 10px;
    background-color: #f0f0f0;
}

.header .title {
    margin: 20px;
}

.nav {
    background-color: #f0f0f0;
    margin: 15px 10px 15px 10px;
}

.nav a {
    display: block;
    float: left;
    padding: 10px 15px 10px 15px;
    border-right: solid 1px #ddd;
}

.nav a:hover {
    background: #d8d8d8;
}

.content {
    background-color: #f0f0f0;
}

.aside {
    background-color: #fff;
}

.footer {
    background-color: #f0f0f0;
    margin-top: 15px
}

.footer address {
    margin: 10px;
}

.date_event {
    font-size: 0.8em;
    color: #555;
}

.pres_title {
    margin: 10px 0 0 10px;
}

.pres_speaker {
    margin: 0 0 10px 10px;
    color: #777;
}

.pres_description {
    margin: 10px;
}

.home_event_title {
    margin-bottom: 0;
}